[core]
	editor = /usr/local/bin/vim
[diff]
	tool = icdiff
[difftool]
	prompt = false
[difftool "icdiff"]
	cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[pager]
	difftool = true
[alias]
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
	dt = "difftool"
	co = "checkout"
